#header{

    background-color: gray;
    font-family: 'Sigmar One', cursive;
    height: 25%;

}

#body{

    background-image: url("Street.jpg");
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;

}

#table{

    background-color: white;
    color: black;

}

canvas{

    background-color: white;

}

#sidebar{

    position: absolute;
    border: 1px solid white;
    width: 25%;
    height: 80.5%;


}

#right{

    position: absolute;
    margin-left: 25%;
    border: 1px solid white;
    width: 74%;


}

#navbar{

    height: 50px;
    border: 1px solid black;



}

#footer{

    height: 50px;
    border: 1px solid white;
    position: absolute;
    margin-top: 770px;
    width: 99%;

}

